@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
*::selection {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
*::-webkit-scrollbar {
    display: none;
}
/* λ©”μΈνƒ‘ */
.main_warp {
    width: 100%;
    height: 100vh;
    cursor: pointer;
    overflow: hidden;
}
.main_warp::-webkit-scrollbar {
    display: none;
}
.main_warp .main_logo,
.main_warp .main_back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.main_warp .main_back {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(calc(100px + 5%) at 50% 50%);
    transition-duration: 0.1s;
}

#content {
    display: none;
    background-color: rgb(0 91 127 / 30%);
}

.intro_wrap {
    background: radial-gradient(#ffffff, transparent);
    height: 70vh;
    padding: 15vh;
    overflow: hidden;
    position: relative;
}
.intro_wrap .wer {
    font-size: 6vw;
    margin-top: 5vh;
}
.intro_wrap .slide_txt_wrap .slide_txt {
    font-size: 9vw;
    filter: opacity(0.5) blur(15px);
    display: flex;
    align-items: center;
}
.intro_wrap .slide_txt_wrap .slide_txt.swiper-slide-active {
    filter: none;
}
.intro_wrap .slide_txt_wrap .slide_txt.kirsh.swiper-slide-active {
    background: linear-gradient(to right bottom, #6c96ff, #ff4c4c);
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 10px 10px 0px #000000cf;
}
.intro_wrap .intro_cherry {
    position: absolute;
    bottom: 3vw;
    right: -6vw;
    width: 40vw;
    opacity: 0.2;
    filter: blur(5px) grayscale(1);
}
