@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
*::selection {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
*::-webkit-scrollbar {
    display: none;
}
main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
}
/* 메인탑 */
.main_warp {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 100vh;
    scroll-snap-align: center;
}
.main_warp::-webkit-scrollbar {
    display: none;
}
.main_warp .main_logo,
.main_warp .main_back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.main_warp .main_back {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(calc(100px + 5%) at 50% 50%);
    transition-duration: 0.1s;
}

/* 콘텐츠 */
.contentblock {
    height: 100vh;
    scroll-snap-align: center;
    display: none;
}
.contentblock.goods {
    height: 300vh;
    scroll-snap-align: start;
    display: none;
}
/* 인트로 */
.intro_wrap {
    background: radial-gradient(#ffffff, #005b7f4d);
    height: 70vh;
    padding: 15vh;
    overflow: hidden;
    position: relative;
}
.contentblock.intro_wrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px dashed #ffffff;
    border-radius: 0 0 30% 0 / 0 0 60% 0;
}
.intro_wrap div.intro_video {
    background-image: url(/img/intro_start.jpg) !important;
}
.intro_wrap div.intro_video::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #d8f4ff 25%, #ffffff59);
}
.intro_wrap .wer {
    font-size: 6vw;
    margin-top: 5vh;
    color: transparent;
    -webkit-text-stroke: 1px #000000;
    z-index: 2;
    position: relative;
}
.intro_wrap .slide_txt_wrap .slide_txt {
    font-size: 9vw;
    filter: opacity(0);
    display: flex;
    align-items: center;
    color: transparent;
    background: linear-gradient(to right bottom, transparent, #602bff);
    -webkit-background-clip: text;
    animation: intro_back_change 1s ease-in Infinite Alternate;
}
.intro_wrap .slide_txt_wrap .slide_txt.swiper-slide-active {
    filter: none;
}
.intro_wrap .slide_txt_wrap .slide_txt.swiper-slide-next {
    filter: opacity(0.5) blur(15px);
}
.intro_wrap .slide_txt_wrap .slide_txt::before {
    background: linear-gradient(to left top, #edf3f6, #c461ee);
    position: absolute;
    top: 50%;
    transform: translateY(-33.3333333%);
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: opacity_change 1.5s ease-in-out Infinite Alternate;
}
.intro_wrap .slide_txt_wrap .slide_txt:first-child::before {
    content: "Creative";
    -webkit-background-clip: text;
}
.intro_wrap .slide_txt_wrap .slide_txt:nth-child(2)::before {
    content: "Researching";
    -webkit-background-clip: text;
}
.intro_wrap .slide_txt_wrap .slide_txt:nth-child(3)::before {
    content: "Trend";
    -webkit-background-clip: text;
}
.intro_wrap .slide_txt_wrap .slide_txt:nth-child(4)::before {
    content: "Your Style";
    -webkit-background-clip: text;
}
@keyframes opacity_change {
    100% {
        opacity: 1;
    }
}

/* 히스토리 */
.contentblock.history {
    background: radial-gradient(#a57bff, #c99bf6);
    position: relative;
}
.contentblock.history .history_txt {
    width: 100%;
    height: 100%;
    font-size: 15vw;
    color: transparent;
    -webkit-text-stroke: 2px #c194f8;
    border-radius: 0 50% 0 50%;
    background-color: #f0f0f080;
}
.contentblock.history .history_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: flex-end;
}

.contentblock.history .history_wrap .history_block {
    background-color: #c99bf6;
    border: 1px solid #c99bf6;
    color: rgb(255 255 255 / 50%);
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5vw;
    position: relative;
    transition-duration: 0.5s;
}
.contentblock.history .history_wrap .history_block:nth-child(2) {
    width: 14vw;
    border-radius: 25% / 50%;
}
.contentblock.history .history_wrap .history_block:nth-child(1)::after {
    background-image: url(/img/2015.jpg);
}
.contentblock.history .history_wrap .history_block:nth-child(2)::after {
    background-image: url(/img/2018.jpg);
    border-radius: 25% / 50%;
}
.contentblock.history .history_wrap .history_block:nth-child(3)::after {
    background-image: url(/img/2020.jpg);
}
.contentblock.history .history_wrap .history_block:nth-child(4)::after {
    background-image: url(/img/2022.jpg);
    background-position: 41% 0%;
}
.contentblock.history .history_wrap .history_block:nth-child(5)::after {
    background-image: url(/img/2023.jpg);
    background-position: 79% 0%;
}
.contentblock.history .history_wrap .history_block:nth-child(even)::after {
    bottom: auto;
    top: 0;
}
.contentblock.history .history_wrap .history_block:hover {
    color: white;
}
.contentblock.history
    .history_wrap
    .history_block:nth-child(even):hover::after {
    bottom: auto;
    top: 0;
    border-radius: 50% / 15% 15% 10% 10%;
}
.contentblock.history .history_wrap .history_block:nth-child(2):hover::after {
    border-radius: 50% / 15% 15% 20% 20%;
}
.contentblock.history .history_wrap .history_block::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transition-duration: 0.5s;
    background-position: center;
    background-size: cover;
}
.contentblock.history .history_wrap .history_block:hover::after {
    height: 25vw;
    border-radius: 50% / 10% 10% 15% 15%;
}

.contentblock.history .history_wrap .history_block .history_detail_txt {
    position: absolute;
    top: -140%;
    left: 120%;
    border-left: 5px solid white;
    padding: 0 0 0 1vw;
    color: white;
    opacity: 0;
    transition-duration: 0.5s;
}
.contentblock.history
    .history_wrap
    .history_block:nth-child(even)
    .history_detail_txt {
    left: 120%;
    top: auto;
    bottom: -140%;
}
.contentblock.history
    .history_wrap
    .history_block:nth-child(2)
    .history_detail_txt {
    left: 110%;
    bottom: -200%;
}
.contentblock.history .history_wrap .history_block:hover .history_detail_txt {
    opacity: 1;
}

/* 굿즈 */
.goods_wrap {
    background: black;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.goods_wrap .goods_block_main {
    position: sticky;
    top: 0;
}
.goods_wrap .goods_block_backtxt {
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 8vh;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.2;
}
.goods_wrap .goods_img {
    padding: 0 20%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.goods_wrap .goods_img img {
    width: 100%;
}

.goods_wrap .goods_intro {
    padding: 10%;
    background: black;
}
.goods_wrap .goods_block_list {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(/img/goods/kirsh_img.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    transition-duration: 0.5s;
    z-index: 3;
}

.goods_block {
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.goods_block .goods_block_model {
    position: relative;
    width: 30%;
    margin-right: 20%;
}
.goods_block .goods_block_model img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15% 75% 36% 60% / 30% 17% 32% 20%;
    animation: goods_block_model_radius 6s cubic-bezier(0.45, 0.05, 0.55, 0.95)
        Infinite;
    position: relative;
    z-index: 2;
}
.goods_block .goods_block_model::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    content: "";
    left: 0;
    border-radius: 30% 17% 32% 20% / 15% 75% 36% 60%;
    animation: goods_block_model_radius_back 5s
        cubic-bezier(0.45, 0.05, 0.55, 0.95) Infinite;
    z-index: 1;
}
.goods_block .goods_block_detail {
    width: 27%;
    position: absolute;
    z-index: 4;
    top: 63%;
    left: 63%;
    transform: translate(-50%, -50%);
}
.goods_block .goods_block_detail img {
    width: 100%;
}
@keyframes goods_block_model_radius {
    0% {
        border-radius: 15% 75% 36% 60% / 30% 17% 32% 20%;
    }
    50% {
        border-radius: 30% 17% 32% 20% / 15% 75% 36% 60%;
    }
    100% {
        border-radius: 15% 75% 36% 60% / 30% 17% 32% 20%;
    }
}
@keyframes goods_block_model_radius_back {
    0% {
        border-radius: 30% 17% 32% 20% / 15% 75% 36% 60%;
    }
    50% {
        border-radius: 50% 17% 42% 26% / 30% 55% 26% 40%;
    }
    100% {
        border-radius: 30% 17% 32% 20% / 15% 75% 36% 60%;
    }
}
.goods_block .goods_block_name {
    position: absolute;
    color: white;
    font-size: 4vh;
    background-color: #00000070;
    z-index: 10;
    width: 17%;
    padding: 1% 2%;
    transform: skew(346deg, 343deg);
    left: 50%;
    top: 19%;
    border: 1px solid white;
}
.goods_block .goods_block_name .goods_block_name_link {
    position: absolute;
    background: #ffffff00;
    border: 3px dashed white;
    border-radius: 50%;
    z-index: 11;
    transform: skew(-346deg, -343deg);
    right: -6%;
    bottom: -30%;
    padding: 1.206% 4% 3.2%;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
}
.goods_block .goods_block_name .goods_block_name_link:hover {
    background: #ffffff !important;
    color: black;
}

/* 오른쪽정렬 */
.goods_block.right .goods_block_model {
    margin-left: 20%;
    margin-right: 0;
}
.goods_block.right .goods_block_model img {
    animation: goods_block_model_radius_back 5s
        cubic-bezier(0.45, 0.05, 0.55, 0.95) Infinite;
}
.goods_block.right .goods_block_model::after {
    animation: goods_block_model_radius 7s cubic-bezier(0.45, 0.05, 0.55, 0.95)
        Infinite;
}
.goods_block.right .goods_block_name {
    left: 24%;
    top: 25%;
    transform: skew(-346deg, -352deg);
}
.goods_block.right .goods_block_name .goods_block_name_link {
    transform: skew(346deg, 352deg);
    bottom: -29%;
    right: 6%;
    background: #0000007d;
}
.goods_block.right .goods_block_detail {
    left: 39%;
}

.goods_wrap:nth-child(2) {
    background: rgb(48 49 66);
}
.goods_wrap:nth-child(2) .goods_block_main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.goods_wrap:nth-child(2) .goods_img {
    padding: 0;
    height: 90vh;
}
.goods_wrap:nth-child(2) .goods_img img {
    height: 100%;
    width: auto;
}
.goods_wrap:nth-child(2) .goods_block_backtxt {
    right: 10%;
    transform: rotate(90deg);
    font-size: 12vh;
}
.goods_wrap:nth-child(2) .goods_block_list {
    background-image: url(/img/goods/pocket_img.jpg);
    background-position: bottom 5% left;
    background-color: rgb(17 18 33 / 80%);
}
.goods_wrap:nth-child(3) {
    background: rgb(214 82 101);
}
.goods_wrap:nth-child(3) .goods_img {
    width: 45%;
    margin: auto;
}
.goods_wrap:nth-child(3) .goods_block_backtxt {
    font-size: 15vh;
    color: #ad0019;
    bottom: 14.9%;
}
.goods_wrap:nth-child(3) .goods_block_list {
    background-image: url(/img/goods/blending_img.jpg);
    background-color: rgb(33 17 17 / 80%);
    background-position: center;
}
.goods_wrap:nth-child(3) .goods_block.right .goods_block_detail {
    left: 36%;
}

/* contacts */
.contacts_kirsh_wrap {
    background: linear-gradient(
        25deg,
        rgb(182 249 255) 0%,
        rgb(255 185 255) 56%,
        rgb(255 178 201) 100%
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contacts_kirsh_wrap .contactus_block,
.contacts_kirsh_wrap .sns_block {
    background: rgb(172 157 255 / 15%);
    box-shadow: 0 0px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 1vw;
    border: 1px solid rgb(172 157 255/ 18%);
    width: 60%;
    padding: 3vw;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 2;
}
.contacts_tit {
    border-right: 5px solid rgb(255, 255, 255);
    padding-right: 5%;
    margin-right: 5%;
    width: 20%;
    line-height: 3rem;
}
.contactus_txt,
.sns_icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;
}
.contactus_txt img {
    width: 7%;
    margin: 0 4% 0 6%;
    filter: contrast(0) brightness(2) opacity(0.7)
        drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.2));
}
.contactus_txt a {
    color: white;
}
.sns_icon a {
    margin: 0 6%;
    width: 50%;
}
.sns_icon a img {
    width: 100%;
    filter: contrast(0) brightness(2) opacity(0.7)
        drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.2));
}
.contacts_cherry {
    position: absolute;
    bottom: 3vw;
    right: -6vw;
    width: 40vw;
    opacity: 0.5;
    filter: blur(2px);
}
/* 푸터 */
.footer_wrap {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 7vh 20vh;
    display: none;
    flex-direction: row;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
}
.footer_wrap .footer_img {
    width: 10%;
    filter: grayscale(1) brightness(2) invert(1);
    opacity: 0.3;
}
.footer_wrap .footer_txt_wrap {
    margin: 0 3%;
    opacity: 0.6;
    line-height: 1.5rem;
}
.footer_wrap .git_wrap {
    position: absolute;
    width: 4vw;
    right: 5%;
    bottom: 20%;
    opacity: 0.3;
    filter: invert(1);
}
.footer_wrap .git_wrap a img {
    width: 100%;
}
